
/* 서브 페이지 상단 */
.subPage .topBox{height: 490px;}
.subPage .topBox h2{font-size: 56px; line-height: 67px;}
.subPage .topBox ul li a{font-size: 20px; line-height: 70px;}

/* 푸터 */
footer{padding-block: 60px 80px;}
footer img{width: 290px; margin-bottom: 40px;}
footer address{font-size: 16px; line-height: 19px; row-gap: 12px;}
footer a{top: 60px; width: 230px; font-size: 18px;}