
/* 서브 페이지 상단 */
.subPage .topBox h2{font-size: 40px; line-height: 48px;}
.subPage .topBox ul{overflow: auto;}
.subPage .topBox ul li{min-width: 108px;}
.subPage .topBox ul li a{font-size: 15px;}

/* 해더 */
header{position: fixed; display: flex; align-items: center; justify-content: space-between; padding: 11px 15px; box-sizing: border-box;}
header h1 a{width: 56px; aspect-ratio: 56 / 34;}
header nav{display: none;}
header > button{--width: 26px; width: var(--width); aspect-ratio: 1; background: url('../images/icon-menu-btn.png') no-repeat left top / 100%; text-indent: -9999px;}
/* header active */
header:is(.active, .scroll) h1 a{background-image: url('../images/logo.png');}
header.scroll{background-color: white;}
header nav{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: white; z-index: -1;}
header.active nav{display: block;}
header nav > ul{padding-block: 66px; margin-inline: auto; box-sizing: border-box;}
header nav > ul > li :is(button, a){width: 100%; text-align: left; color: #011936;}
header nav > ul > li > :is(button, a){ font-size: 20px; line-height: 24px; padding: var(--spacing);}
header nav > ul > li > :is(button, a):has(+ ul){display: flex; align-items: center;}
header nav > ul > li > :is(button, a):has(+ ul)::after{content: ''; --width: 20px; width: var(--width); aspect-ratio: 1; background-image: url('../images/icon-menu-arrow.png'); background-size: 100%; background-position-x: left; background-position-y: 0; margin-left: 12px;}
header nav > ul > li > :is(button, a):has(+ ul).active::after{background-position-y: calc(var(--width));}
header nav > ul > li ul{display: none; padding: 10px var(--spacing); background-color: #f9f9f9;}
header nav > ul > li > :is(button, a).active + ul{display: block;}
header nav > ul > li ul li a{font-size: 16px; line-height: 19px; padding-block: 10px;}
header nav > ul > li ul li.active a{text-decoration: underline;}
header.active > button{background-position-y: calc(var(--width) * -1);}

/* 푸터 */
footer{padding-block: 60px 80px;}
footer img{width: 174px;}
footer address{font-size: 12px; line-height: 14px;}
footer address > *:is(:nth-child(1), :nth-child(6)):after{content: ''; width: 2px; height: 0.9375em; background-color: rgba(255, 255, 255, 0.15); margin-inline: 9px;}
footer address > *:nth-child(n + 3):nth-child(-n + 5){width: 100%;}
footer a{display: block; font-size: 13px; line-height: 40px; margin-top: 40px;}