/* 서브 페이지 상단 */
.subPage .topBox h2{font-size: 46px; line-height: 55px;}

/* 푸터 */
footer{padding-block: 50px 60px;}
footer img{width: 256px;}
footer address{font-size: 15px; line-height: 24.6666px;}
footer a{top: 50px; width: 218px; font-size: 16px;}