
/* 컨텐츠 사이즈 */
.contentSize{max-width: calc(var(--maxWidth) - var(--spacing) * 2); width: calc(100% - (var(--spacing) * 2)); margin-inline: auto;}

/* 가로 풆 배경 */
.spacingBC{background-color: var(--BGColor); box-shadow: 0 0 0 100vmax var(--BGColor); clip-path: inset(0 -100vmax);}

/* 포인트 칼라 */
mark:not([class]){color: var(--colorPoint2);}
mark.bg, .bgBox{color: white; background-color: var(--colorPoint2); border-radius: 6px;}

/* 서브 페이지 상단 */
.subPage .topBox{display: flex; justify-content: center; align-items: center; background-position: center; background-size: cover; position: relative;}
.subPage .topBox h2{color: white;}
.subPage .topBox ul{position: absolute; left: 0; bottom: 0; width: 100%; display: flex;}
.subPage .topBox ul li{flex: 1;}
.subPage .topBox ul li a{display: block; color: white; text-align: center; background-color: rgba(255, 255, 255, 0.2);}
.subPage .topBox ul li:is(.active, :hover) a{background-color: var(--colorPoint2);}
.subPage.companyPage .topBox{background-image: url('../images/topBG-company.png');}
.subPage.businessPage .topBox{background-image: url('../images/topBG-business.png');}
.subPage.disabledPage .topBox{background-image: url('../images/topBG-disabled.png');}
.subPage.cooperationPage .topBox{background-image: url('../images/topBG-cooperation.png');}


/* 해더 */
header{left: 0; top: 0; width: 100%; z-index: 100;}
header h1 a{background-image: url('../images/logo-w.png'); background-position: center; background-size: cover; text-indent: -9999px;}


/* 푸터 */
footer{--BGColor: var(--colorPoint1);}
footer address{display: flex; flex-wrap: wrap; color: rgba(255, 255, 255, 0.3);}
footer address > *{display: flex; align-items: center;}
footer address dl dt{display: flex; align-items: center;}
footer address dl dt::after{content: ':'; margin-inline: 0.5em;}
footer a{color: white; text-align: center; border: 1px solid white; border-radius: 6px;}