/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 180px 185px;}
.mainPage .sloganArea p{font-size: 42px; line-height: 55px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 34px 32px;}
.mainPage .deliveryArea li strong{font-size: 25px; line-height: 33px;}
.mainPage .deliveryArea li p{font-size: 14px; line-height: 19px; margin-top: 17px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{padding-block: 100px 120px;}
.mainPage .missionArea div h2{font-size: 38px; line-height: 45px;}
.mainPage .missionArea ul{gap: 24px;}
.mainPage .missionArea ul li{aspect-ratio: 299 / 421; padding: 25px 34px; font-size: 22px; line-height: 26px;}
.mainPage .missionArea ul li::before{--width: 156px; margin-bottom: 104px;}