/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
.mainPage .topBox .swiper .swiper-slide{height: 647px; font-size: 54px; line-height: 69px;}
.mainPage .topBox .swiper-pagination{bottom: 204px;}
.mainPage .topBox .arrow{bottom: 20px;}
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea img{margin-top: 70px;}
/* 메인 페이지 - 납품 */
/* 메인 페이지 - 사명 */
.mainPage .missionArea div{margin-bottom: 60px;}


/* 서브 페이지 공통 */
.subPage > [class*="Page"]{padding-block: 120px 180px;}
.subPage > [class*="Page"] h3:first-child{font-size: 36px; line-height: 43px;}
.subPage > [class*="Page"] h3:first-child:has(+ div, + ul){margin-bottom: 80px;}
.subPage > [class*="Page"] > div > mark{font-size: 26px; line-height: 31px;}
.subPage > [class*="Page"] > div > mark:has(+ div){margin-bottom: 40px;}
.subPage > [class*="Page"] > div:not(:last-child){margin-bottom: 120px;}


/* 기업 소개 */
/* 기업 소개 - 회사소개 */
.companyPage .introductPage{padding-top: 160px;}
.companyPage .introductPage img{width: 160px; margin-bottom: 60px;}
.companyPage .introductPage h3{font-size: 32px; line-height: 38px;}
.companyPage .introductPage p{font-size: 18px; line-height: 27px;}
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div{display: flex; justify-content: space-between;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{display: flex;}
.companyPage .historyPage > div ol{width: 33%;}
.companyPage .historyPage > div ol::before{font-size: 32px; line-height: 38px; margin-bottom: 40px;}
.companyPage .historyPage > div ol li{font-size: 18px;}
/* 기업 소개 - 기업 조직도 */



/* 산업 안내 */
/* 산업 안내 - 주요 산업 */
.businessPage .majorPage .facilityArea div p{font-size: 20px; line-height: 24px;}
/* 산업 안내 - 파트너 */
.businessPage .partnerPage > div div a{margin-top: 80px;}


/* 장애인 표준 사업장 인증 */
/* 장애인 표준 사업장 인증 - 장애인 표준 사업장 인증 */
.disabledPage .workPlacePage > img{max-width: 240px;}
.disabledPage .workPlacePage > p{font-size: 20px; line-height: 27px; margin-bottom: 80px;}
.disabledPage .workPlacePage .situationArea div table tbody tr:first-child td{padding-block: 31px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure{gap: 70px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure img{max-width: 263px;}
.disabledPage .workPlacePage .benefitsArea > div > ol{--contentSpacing: 34px;}
.disabledPage .workPlacePage .benefitsArea > div > ol li{font-size: 20px; padding-inline: 51px;}
.disabledPage .workPlacePage .benefitsArea > div > ol li:not(:last-child){margin-bottom: 25px;}
.disabledPage .workPlacePage .benefitsArea > div > ol li p{font-size: 16px; line-height: 19px; margin-top: 13px; padding-bottom: 6px;}
.disabledPage .workPlacePage .benefitsArea > div > mark{font-size: 17px; line-height: 20px;}
.disabledPage .workPlacePage .benefitsArea > div > small{font-size: 15px; line-height: 18px; margin-bottom: 80px;}
/* 장애인 표준 사업장 인증 - 인증 자료 */


/* 협력&납품 */
/* 협력&납품 - 문의 */
.cooperationPage .inquiryPage p{font-size: 20px; line-height: 27px; margin-bottom: 80px;}
.cooperationPage .inquiryPage fieldset ul li label{font-size: 18px;}
.cooperationPage .inquiryPage fieldset ul li *:nth-child(2){font-size: 18px;}