/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
/* 메인 페이지 - 슬로건 */
/* 메인 페이지 - 납품 */
/* 메인 페이지 - 사명 */
/* 메인 페이지 - 특징 */


/* 서브 페이지 공통 */

/* 기업 소개 */
/* 기업 소개 - 회사소개 */
/* 기업 소개 - 대표 인사말 */
/* 기업 소개 - 회사 연혁 */
/* 기업 소개 - 기업 조직도 */



/* 산업 안내 */
/* 산업 안내 - 주요 산업 */
/* 산업 안내 - 파트너 */



/* 장애인 표준 사업장 인증 */
/* 장애인 표준 사업장 인증 - 장애인 표준 사업장 인증 */
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child a{font-size: 15px; line-height: 50px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > p{margin-bottom: 20px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div b{margin-bottom: 15px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark::before{width: 40px;}