/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 200px;}
.mainPage .sloganArea p{font-size: 50px; line-height: 62px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 40px;}
.mainPage .deliveryArea li strong{font-size: 32px; line-height: 42px;}
.mainPage .deliveryArea li p{font-size: 18px; line-height: 24.5px; margin-top: 20px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{padding-block: 120px 160px;}
.mainPage .missionArea div h2{font-size: 46px; line-height: 55px;}
.mainPage .missionArea ul{gap: 28px;}
.mainPage .missionArea ul li{aspect-ratio: 355 / 500; padding: 30px 40px; font-size: 26px; line-height: 31px;}
.mainPage .missionArea ul li::before{--width: 186px; margin-bottom: 123px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 120px 160px;}
.mainPage .featuresArea h2{font-size: 46px; line-height: 55px;}
.mainPage .featuresArea ul li strong{font-size: 26px; line-height: 31px;}
.mainPage .featuresArea ul li p{font-size: 18px; line-height: 21px; margin-top: 15px;}
.mainPage .featuresArea ul li a{font-size: 16px; line-height: 19px; margin-top: 40px;}


/* 서브 페이지 공통 */



/* 기업 소개 */
/* 기업 소개 - 회사소개 */
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div div{width: 48.2142%;}
.companyPage .greetPage > div img{width: 46.4285%;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{row-gap: 100px;}
.companyPage .historyPage > div ol li{line-height: 21px;}
