/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
.mainPage .topBox .swiper .swiper-slide{height: 647px; font-size: 42px; line-height: 52.6666px; text-align: center;}
.mainPage .topBox .swiper-pagination{bottom: 188px;}
.mainPage .topBox .arrow{bottom: 30px;}
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 172px;}
.mainPage .sloganArea p{font-size: 34px; line-height: 46px;}
.mainPage .sloganArea img{max-width: 222px; margin-top: 60px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 40px 30px;}
.mainPage .deliveryArea li strong{font-size: 20px; line-height: 27px;}
.mainPage .deliveryArea li p{font-size: 15px; line-height: 20px; margin-top: 20px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{padding-block: 60px;}
.mainPage .missionArea div{margin-bottom: 50px;}
.mainPage .missionArea div h2{font-size: 30px; line-height: 36px; margin-bottom: 20px;}
.mainPage .missionArea div p{font-size: 15px; line-height: 21px;}
.mainPage .missionArea ul li{height: 300px; padding: 30px; font-size: 22px; line-height: 26px;}
.mainPage .missionArea ul li:not(:last-child){margin-bottom: 20px;}
.mainPage .missionArea ul li::before{--width: 150px; margin-bottom: 34px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 60px;}
.mainPage .featuresArea h2{font-size: 30px; line-height: 36px; margin-bottom: 50px;}
.mainPage .featuresArea ul li{padding: 60px 30px; text-align: center;}
.mainPage .featuresArea ul li:not(:last-child){margin-bottom: 20px;}
.mainPage .featuresArea ul li::before{width: 140px; margin: 0 auto 40px;}
.mainPage .featuresArea ul li strong{font-size: 22px; line-height: 26px;}
.mainPage .featuresArea ul li p{font-size: 15px; line-height: 20px; margin-top: 20px;}
.mainPage .featuresArea ul li a{font-size: 14px; line-height: 16px; margin-top: 30px;}


/* 서브 페이지 공통 */
.subPage > [class*="Page"]{padding-block: 60px 100px;}
.subPage > [class*="Page"] h3:first-child{font-size: 30px; line-height: 36px;}
.subPage > [class*="Page"] h3:first-child:has(+ div, + ul){margin-bottom: 40px;}


/* 기업 소개 */
/* 기업 소개 - 회사소개 */
.companyPage .introductPage img{width: 120px; margin-bottom: 40px;}
.companyPage .introductPage h3{font-size: 24px; line-height: 29px;}
.companyPage .introductPage p{font-size: 15px; line-height: 21px; margin-top: 20px;}
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div div{margin-bottom: 40px;}
.companyPage .greetPage > div div strong{display: block; font-size: 18px; line-height: 22.5px; margin-bottom: 30px;}
.companyPage .greetPage > div div p{font-size: 15px; --lineHeight: 21.8333px;}
.companyPage .greetPage > div img{width: 100%;}