/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
.mainPage .topBox .swiper .swiper-slide{height: 970px; font-size: 60px; line-height: 75px;}
.mainPage .topBox .swiper-pagination{bottom: 350px;}
.mainPage .topBox .arrow{bottom: 40px;}
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 300px;}
.mainPage .sloganArea p{font-size: 56px; line-height: 68.5px;}
.mainPage .sloganArea img{margin-top: 80px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 100px 60px;}
.mainPage .deliveryArea li strong{font-size: 36px; line-height: 48.5px;}
.mainPage .deliveryArea li p{font-size: 18px; line-height: 24.5px; margin-top: 40px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{display: flex; align-items: center; gap: 80px; padding-block: 140px 180px;}
.mainPage .missionArea div{display: flex; flex-direction: column; justify-content: center;}
.mainPage .missionArea div h2{font-size: 50px; line-height: 60px;}
.mainPage .missionArea ul{gap: 30px;}
.mainPage .missionArea ul li{aspect-ratio: 380 / 560; padding: 50px 40px; font-size: 30px; line-height: 36px;}
.mainPage .missionArea ul li::before{--width: 200px; margin-bottom: 106px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 136px 180px;}
.mainPage .featuresArea h2{font-size: 50px; line-height: 60px;}
.mainPage .featuresArea ul li strong{font-size: 30px; line-height: 36px;}
.mainPage .featuresArea ul li p{font-size: 20px; line-height: 24px;}
.mainPage .featuresArea ul li a{font-size: 18px; line-height: 21px;}


/* 서브 페이지 공통 */
.subPage > [class*="Page"]{padding-block: 140px 200px;}
.subPage > [class*="Page"] h3:first-child{font-size: 40px; line-height: 48px;}
.subPage > [class*="Page"] h3:first-child:has(+ div, + ul){margin-bottom: 120px;}
.subPage > [class*="Page"] > div{display: flex; justify-content: space-between;}
.subPage > [class*="Page"] > div > mark{min-width: 255px; font-size: 28px; line-height: 34px;}
.subPage > [class*="Page"] > div:not(:last-child){margin-bottom: 180px;}


/* 기업 소개 */
/* 기업 소개 - 회사소개 */
.companyPage .introductPage{padding-bottom: 240px;}
.companyPage .introductPage img{width: 180px; margin-bottom: 80px;}
.companyPage .introductPage h3{font-size: 36px; line-height: 43px;}
.companyPage .introductPage p{font-size: 20px; line-height: 29.34px;}
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div div{width: 44.3181%;}
.companyPage .greetPage > div div strong{font-size: 24px; line-height: 31.5px; margin-bottom: 40px;}
.companyPage .greetPage > div div p{font-size: 18px; line-height: 29.5px;}
.companyPage .greetPage > div div p:not(:last-child){margin-bottom: 29.5px;}
.companyPage .greetPage > div img{width: 50%;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{row-gap: 160px;}
.companyPage .historyPage > div ol{width: 25%;}
.companyPage .historyPage > div ol::before{font-size: 36px; line-height: 50px; margin-bottom: 60px;}
.companyPage .historyPage > div ol li{font-size: 20px; line-height: 24px;}
/* 기업 소개 - 기업 조직도 */
.companyPage .chartPage ul{/* gap: 120px; */ max-width: 1200px; margin-inline: auto;}
.companyPage .chartPage ul li{width: 320px;}
.companyPage .chartPage ul li::before{margin-bottom: 27px;}
.companyPage .chartPage ul li p{font-size: 24px; line-height: 31.5px; min-height: 63px;}


/* 산업 안내 */
:is(.businessPage, .disabledPage) [class*="Page"] > div > *:not(:first-child){width: 1320px;}
/* 산업 안내 - 주요 산업 */
.progressBox li{width: 19.6969%; height: 343px;}
.progressBox li::before{--height: 90px; margin-bottom: 30px;}
.progressBox li:not(:last-child):after{width: 50px; right: -93px;}
.progressBox li strong{font-size: 24px; line-height: 29px; margin-bottom: 20px;}
.progressBox li p{font-size: 20px; line-height: 27px;}
.businessPage .majorPage .progressBox li{padding-block: 60px;}
.businessPage .majorPage .progressBox li strong::before{font-size: 18px; padding: 8px 17px;}
.businessPage .majorPage .facilityArea div p{font-size: 24px; line-height: 29px;}
.businessPage .majorPage .facilityArea div ul:not(:last-of-type){margin-bottom: 60px;}
.businessPage .majorPage .facilityArea div ul li{width: calc((100% - 30px) / 2);}