/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 200px;}
.mainPage .sloganArea p{font-size: 50px; line-height: 62px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 40px;}
.mainPage .deliveryArea li strong{font-size: 32px; line-height: 42px;}
.mainPage .deliveryArea li p{font-size: 18px; line-height: 24.5px; margin-top: 20px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{padding-block: 120px 160px;}
.mainPage .missionArea div h2{font-size: 46px; line-height: 55px;}
.mainPage .missionArea ul{gap: 28px;}
.mainPage .missionArea ul li{aspect-ratio: 355 / 500; padding: 30px 40px; font-size: 26px; line-height: 31px;}
.mainPage .missionArea ul li::before{--width: 186px; margin-bottom: 123px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 120px 160px;}
.mainPage .featuresArea h2{font-size: 46px; line-height: 55px;}
.mainPage .featuresArea ul li strong{font-size: 26px; line-height: 31px;}
.mainPage .featuresArea ul li p{font-size: 18px; line-height: 21px; margin-top: 15px;}
.mainPage .featuresArea ul li a{font-size: 16px; line-height: 19px; margin-top: 40px;}


/* 서브 페이지 공통 */
.subPage > [class*="Page"] > div > mark:has(+ ol){margin-bottom: 80px;}


/* 기업 소개 */
/* 기업 소개 - 회사소개 */
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div div{width: 48.2142%;}
.companyPage .greetPage > div img{width: 46.4285%;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{row-gap: 100px;}
.companyPage .historyPage > div ol li{line-height: 21px;}
/* 기업 소개 - 기업 조직도 */
/* .companyPage .chartPage ul{justify-content: space-between;} */
/* .companyPage .chartPage ul{gap: 110px;} */
.companyPage .chartPage ul li{width: 300px;}
.companyPage .chartPage ul li::before{margin-bottom: 25px;}
.companyPage .chartPage ul li p{font-size: 20px; line-height: 27px; min-height: 54px;}


/* 산업 안내 */
/* 산업 안내 - 주요 산업 */
.progressBox li{width: 19.7321%; height: 291px;}
.progressBox li::before{--height: 77px; margin-bottom: 25px;}
.progressBox li:not(:last-child):after{width: 42px; right: -82px;}
.progressBox li strong{font-size: 20px; line-height: 24px; margin-bottom: 18px;}
.progressBox li p{font-size: 16px; line-height: 22.5px;}
.businessPage .majorPage .progressBox li{padding-block: 50px 54px;}
.businessPage .majorPage .progressBox li strong::before{font-size: 15px;}
.businessPage .majorPage .facilityArea div ul:not(:last-of-type){margin-bottom: 80px;}
.businessPage .majorPage .facilityArea div ul li{width: calc((100% - 26px) / 2);}
/* 산업 안내 - 파트너 */
.businessPage .partnerPage > div div ul li{width: calc((100% - 52px) / 3);}
.businessPage .partnerPage > div div ul li:not(:nth-child(3n)){margin-right: 26px;}
.businessPage .partnerPage > div div ul li:nth-child(n + 4){margin-top: 70px;}
.businessPage .partnerPage > div div ul li::before{margin-bottom: 25px;}
.businessPage .partnerPage > div div ul li p{font-size: 20px; line-height: 28.5px;}


/* 장애인 표준 사업장 인증 */
/* 장애인 표준 사업장 인증 - 장애인 표준 사업장 인증 */
.disabledPage .workPlacePage .situationArea div table{font-size: 18px;}
.disabledPage .workPlacePage .situationArea div table thead tr th{padding-block: 21px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure figcaption b{font-size: 18px; line-height: 21px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure figcaption dl{font-size: 16px; line-height: 29.4px;}
.disabledPage .workPlacePage .benefitsArea > div > mark{margin-bottom: 18px;}
.disabledPage .workPlacePage .benefitsArea > div > p{margin-bottom: 10px;}
.disabledPage .workPlacePage .benefitsArea > div .tabBtn{margin-bottom: 50px;}
.disabledPage .workPlacePage .benefitsArea > div .tabBtn li button{height: 60px; font-size: 17px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li{padding-inline: 36px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child dl{font-size: 15px; line-height: 18px; margin-bottom: 25px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child dl dd{margin-left: 18px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child .progressBox li{padding-block: 34px 44px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child a{width: 238px; font-size: 18px; line-height: 60px; margin-top: 60px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > p{font-size: 18px; line-height: 21px; margin-bottom: 25px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div{padding: 50px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div > *{max-width: 552px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div b{font-size: 18px; line-height: 21px; margin-bottom: 18px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div{font-size: 21px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div::after{right: 26px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div input{height: 68px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark{--MT: 82px; font-size: 26px; height: 119px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark small{font-size: 20px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark::before{width: 48px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div p{font-size: 15px; margin-top: 25px;}