/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 180px 185px;}
.mainPage .sloganArea p{font-size: 42px; line-height: 55px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea li{padding: 34px 32px;}
.mainPage .deliveryArea li strong{font-size: 25px; line-height: 33px;}
.mainPage .deliveryArea li p{font-size: 14px; line-height: 19px; margin-top: 17px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{padding-block: 100px 120px;}
.mainPage .missionArea div h2{font-size: 38px; line-height: 45px;}
.mainPage .missionArea ul{gap: 24px;}
.mainPage .missionArea ul li{aspect-ratio: 299 / 421; padding: 25px 34px; font-size: 22px; line-height: 26px;}
.mainPage .missionArea ul li::before{--width: 156px; margin-bottom: 104px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 100px 120px;}
.mainPage .featuresArea h2{font-size: 38px; line-height: 45px; margin-bottom: 40px;}
.mainPage .featuresArea ul{gap: 26px;}
.mainPage .featuresArea ul li{padding: 40px 40px 50px;}
.mainPage .featuresArea ul li::before{width: 118px; margin: 0 auto 30px;}
.mainPage .featuresArea ul li strong{font-size: 22px; line-height: 26px;}
.mainPage .featuresArea ul li p{font-size: 16px; line-height: 19px; margin-top: 12px;}
.mainPage .featuresArea ul li a{font-size: 15px; line-height: 18px; margin-top: 30px;}


/* 서브 페이지 공통 */
.subPage > [class*="Page"] > div > mark:has(+ ol){margin-bottom: 77px;}


/* 기업 소개 */
/* 기업 소개 - 회사소개 */
/* 기업 소개 - 대표 인사말 */
.companyPage .greetPage > div div{width: 47.8813%;}
.companyPage .greetPage > div img{width: 47.8813%;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{row-gap: 80px;}
.companyPage .historyPage > div ol li{line-height: 23.5px;}
.companyPage .historyPage > div ol li:not(:last-child){padding-bottom: 24px;}
/* 기업 소개 - 기업 조직도 */
/* .companyPage .chartPage ul{justify-content: space-between;} */
/* .companyPage .chartPage ul{gap: 67px;} */
.companyPage .chartPage ul li{width: 270px;}
.companyPage .chartPage ul li::before{margin-bottom: 21px;}
.companyPage .chartPage ul li p{font-size: 18px; line-height: 24.5px; min-height: 49px;}


/* 산업 안내 */
/* 산업 안내 - 주요 산업 */
.progressBox li{width: 19.7033%; height: 245px;}
.progressBox li::before{--height: 65px; margin-bottom: 20px;}
.progressBox li:not(:last-child):after{width: 35px; right: -68px;}
.progressBox li strong{font-size: 18px; line-height: 21px; margin-bottom: 15px;}
.progressBox li p{font-size: 14px; line-height: 18px;}
.businessPage .majorPage .progressBox li{padding-block: 43px 45px;}
.businessPage .majorPage .progressBox li strong::before{font-size: 12px;}
.businessPage .majorPage .facilityArea div ul:not(:last-of-type){margin-bottom: 60px;}
.businessPage .majorPage .facilityArea div ul li{width: calc((100% - 22px) / 2);}
/* 산업 안내 - 파트너 */
.businessPage .partnerPage > div div ul li{width: calc((100% - 44px) / 3);}
.businessPage .partnerPage > div div ul li:not(:nth-child(3n)){margin-right: 22px;}
.businessPage .partnerPage > div div ul li:nth-child(n + 4){margin-top: 60px;}
.businessPage .partnerPage > div div ul li::before{margin-bottom: 20px;}
.businessPage .partnerPage > div div ul li p{font-size: 16px; line-height: 22.5px;}
.businessPage .partnerPage > div div a{font-size: 18px; width: 270px; line-height: 60px;}


/* 장애인 표준 사업장 인증 */
/* 장애인 표준 사업장 인증 - 장애인 표준 사업장 인증 */
.disabledPage .workPlacePage .situationArea div table{font-size: 16px;}
.disabledPage .workPlacePage .situationArea div table thead tr th{padding-block: 22px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure figcaption b{font-size: 20px; line-height: 24px;}
.disabledPage .workPlacePage .situationArea div table tbody tr.imgArea td figure figcaption dl{font-size: 18px; line-height: 29.8px;}
.disabledPage .workPlacePage .benefitsArea > div > mark{margin-bottom: 15px;}
.disabledPage .workPlacePage .benefitsArea > div > p{font-size: 16px; line-height: 22.5px; margin-bottom: 12px;}
.disabledPage .workPlacePage .benefitsArea > div .tabBtn{margin-bottom: 30px;}
.disabledPage .workPlacePage .benefitsArea > div .tabBtn li button{height: 50px; font-size: 15px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li{padding-inline: 29px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child dl{font-size: 13px; line-height: 15px; margin-bottom: 20px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child dl dd{margin-left: 10px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child .progressBox li{padding-block: 29px 37px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:first-child a{width: 198px; margin-top: 50px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > p{font-size: 16px; line-height: 19px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div{padding: 40px 40px 44px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div > *{max-width: 466px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div b{font-size: 16px; line-height: 19px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div{font-size: 17px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div::after{right: 22px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div div input{height: 57px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark{--MT: 69px; font-size: 21px; height: 101px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div mark small{font-size: 16px;}
.disabledPage .workPlacePage .benefitsArea > div .tabContent > li:nth-child(2) > div p{font-size: 14px; margin-top: 18px;}
/* 장애인 표준 사업장 인증 - 인증 자료 */
.disabledPage .dataPage > div div{gap: 41px;}
.disabledPage .dataPage > div div ul{gap: 14px;}
.disabledPage .dataPage > div div ul li{width: calc((100% - 28px) / 3);}


/* 협력&납품 */
/* 협력&납품 - 문의 */
.cooperationPage .inquiryPage fieldset input[type="submit"]{width: 270px; height: 60px; font-size: 18px;}