/* 메인 페이지 */
/* 메인 페이지 - 슬라이더 */
.mainPage .topBox .swiper .swiper-slide{height: 970px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-size: cover; font-size: 60px; line-height: 75px; color: white;}
.mainPage .topBox .swiper .swiper-slide.slide01{background-image: url('../images/topBG-main.png');}
.mainPage .topBox .swiper .swiper-slide p{font-weight: 300;}
.mainPage .topBox .swiper-pagination{bottom: 350px;}
.mainPage .topBox .swiper-pagination .swiper-pagination-bullet{width: 10px; height: 10px; margin-inline: 10px; border: 1px solid white; background-color: transparent;}
.mainPage .topBox .swiper-pagination .swiper-pagination-bullet[class*="active"]{background-color: white;}
/* 메인 페이지 - 슬로건 */
.mainPage .sloganArea{padding-block: 300px; text-align: center;}
.mainPage .sloganArea p{font-size: 65px; font-weight: 300; line-height: 68.5px;}
.mainPage .sloganArea p strong{display: block; font-weight: 700;}
.mainPage .sloganArea p strong span{position: relative;}
.mainPage .sloganArea p strong span::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 20px; background-color: #cdd8e5; z-index: -1;}
.mainPage .sloganArea img{width: 292px; margin-top: 80px;}
/* 메인 페이지 - 납품 */
.mainPage .deliveryArea{display: flex;}
.mainPage .deliveryArea li{flex: 1; aspect-ratio: 1; background-image: url('../images/bg-main.png'); background-position: 100% calc(100% * var(--styleIdx)); background-size: cover; padding: 100px 60px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: flex-end;}
.mainPage .deliveryArea li strong{font-size: 36px; line-height: 48.5px; color: white;}
.mainPage .deliveryArea li p{font-size: 18px; font-weight: 300; line-height: 24.5px; color: rgba(255, 255, 255, 0.8); margin-top: 40px;}
/* 메인 페이지 - 사명 */
.mainPage .missionArea{display: flex; align-items: center; gap: 80px; padding-block: 140px 180px;}
.mainPage .missionArea div{display: flex; flex-direction: column; justify-content: center; max-width: 480px;}
.mainPage .missionArea div h2{font-size: 50px; line-height: 60px; margin-bottom: 30px;}
.mainPage .missionArea div p{font-size: 20px; font-weight: 300; line-height: 28px;}
.mainPage .missionArea ul{flex: 1; display: flex; gap: 30px;}
.mainPage .missionArea ul li{flex: 1; aspect-ratio: 380 / 560; background-color: var(--colorPoint1); border-radius: 20px; display: flex; flex-direction: column; justify-content: flex-end; padding: 50px 40px; font-size: 30px; color: white; line-height: 36px;}
.mainPage .missionArea ul li::before{content: ''; align-self: center; --width: 200px; width: 200px; aspect-ratio: 1; background: url('../images/icon-main.png') no-repeat center top calc(var(--width) * var(--styleIdx) * -1) / 100%; margin-bottom: 106px;}
/* 메인 페이지 - 특징 */
.mainPage .featuresArea{padding-block: 136px 180px; --BGColor: var(--colorBG);}
.mainPage .featuresArea h2{font-size: 50px; line-height: 60px; margin-bottom: 60px;}
.mainPage .featuresArea ul{display: flex; gap: 30px; text-align: center;}
.mainPage .featuresArea ul li{flex: 1; padding: 60px; background-color: white; border-radius: 20px;}
.mainPage .featuresArea ul li::before{content: ''; display: block; width: 140px; aspect-ratio: 1; background-image: url('../images/icon-characteristic.png'); background-position: center; background-size: cover; margin: 0 auto 40px;}
.mainPage .featuresArea ul li strong{font-size: 30px; line-height: 36px;}
.mainPage .featuresArea ul li p{font-size: 20px; font-weight: 300; line-height: 24px; margin-top: 15px;}
.mainPage .featuresArea ul li a{display: block; font-size: 18px; color: #bbb; text-decoration: underline; margin-top: 40px;}


.subPage > [class*="Page"]{padding-block: 140px 200px;}
.subPage > [class*="Page"] h3:first-child{font-size: 40px; line-height: 48px;}
.subPage > [class*="Page"] h3:first-child:has(+ div, + ul){margin-bottom: 120px;}
.subPage > [class*="Page"] > div{display: flex; justify-content: space-between;}
.subPage > [class*="Page"] > div mark{min-width: 255px; font-size: 28px; line-height: 34px;}
.subPage > [class*="Page"] > div:not(:last-child){margin-bottom: 180px;}

/* 기업 소개 */
/* 기업 소개 - 회사소개 */
.companyPage .introductPage{text-align: center; padding-bottom: 240px;}
.companyPage .introductPage img{width: 180px; margin-bottom: 80px;}
.companyPage .introductPage h3{font-size: 36px; line-height: 43px;}
.companyPage .introductPage p{font-size: 20px; font-weight: 300; line-height: 29.34px; margin-top: 30px;}
/* 기업 소개 - 대표 인사말, 회사 연혁, 기업 조직도 공통 */
/* .companyPage :is(.greetPage, .historyPage, .chartPage){padding-block: 140px 200px;}
.companyPage :is(.greetPage, .historyPage, .chartPage) h3{font-size: 40px; line-height: 48px; margin-bottom: 120px;} */
/* 기업 소개 - 대표 인사말 */
/* .companyPage .greetPage > div{display: flex; justify-content: space-between;} */
.companyPage .greetPage > div div{width: 44.3181%; display: flex; flex-direction: column;}
.companyPage .greetPage > div div strong{font-size: 24px; line-height: 31.5px; font-weight: 400; margin-bottom: 40px;}
.companyPage .greetPage > div div strong b{display: block; font-weight: 700;}
.companyPage .greetPage > div div p{font-size: 18px; font-weight: 300; line-height: 29.5px; color: var(--colorFont2);}
.companyPage .greetPage > div div p:not(:last-child){margin-bottom: 29.5px;}
.companyPage .greetPage > div img{width: 50%; /* height: 604px; */ object-fit: cover;}
/* 기업 소개 - 회사 연혁 */
.companyPage .historyPage > div{/* display: flex; */ flex-wrap: wrap;}
.companyPage .historyPage > div ol{width: 25%;}
.companyPage .historyPage > div ol:nth-last-child(n + 5){margin-bottom: 160px;}
.companyPage .historyPage > div ol::before{content: attr(title); display: block; font-size: 36px; line-height: 50px; margin-bottom: 60px;}
.companyPage .historyPage > div ol li{font-size: 20px; line-height: 24px; color: var(--colorFont3); padding-inline: 28px; position: relative;}
.companyPage .historyPage > div ol li:not(:last-child){margin-bottom: 30px;}
.companyPage .historyPage > div ol li::before{content: ''; width: 8px; aspect-ratio: 1; background-color: var(--colorPoint2); border-radius: 100%; position: absolute; left: 0; top: 8px; z-index: 1;}
.companyPage .historyPage > div ol li:not(:last-child)::after{content: ''; position: absolute; left: 3.5px; top: 12px; width: 1px; height: 54px; background-color: var(--colorLine);}
.companyPage .historyPage > div ol li span{display: block; margin-top: 10px;}
/* 기업 소개 - 기업 조직도 */
.companyPage .chartPage ul{display: flex; justify-content: center; gap: 120px;}
.companyPage .chartPage ul li{width: 320px; aspect-ratio: 1; background-color: var(--colorBG); border-radius: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; padding: 50px; box-sizing: border-box; position: relative;}
.companyPage .chartPage ul li::before{content: ''; --width: 90px; width: var(--width); aspect-ratio: 1; background: url('../images/icon-organizationChart.png') no-repeat center top calc(var(--width) * var(--styleIdx) * -1) / 100%; margin-bottom: 27px;}
.companyPage .chartPage ul li:not(:last-child)::after{content: ''; position: absolute; left: calc(100% + 60px); top: 50%; transform: translate(-50%); width: 100%; height: 1px; background-color: var(--colorBG);}
.companyPage .chartPage ul li p{font-size: 24px; line-height: 31.5px; min-height: 63px; text-align: center; display: flex; justify-content: center; align-items: center;}


/* 산업 안내 */
.businessPage [class*="Page"] > div > *:not(:first-child){width: 75%;}
/* 산업 안내 - 주요 산업 */
.progressBox{--listSpacing: 93px; display: flex; gap: var(--listSpacing); text-align: center;}
.progressBox li{flex: 1; height: 343px; border: 1px solid var(--colorLine); border-radius: 20px; display: flex; flex-direction: column; align-items: center; padding: 60px 30px; box-sizing: border-box; position: relative;}
.progressBox li::before{content: ''; /* --width: 120px; width: 120px; */ --height: 90px; height: var(--height);  aspect-ratio: 4 / 3; margin-bottom: 30px; background-position: left top calc(var(--height) * var(--styleIdx) * -1); background-size: 100%;}
.progressBox li:not(:last-child):after{content: ''; width: 50px; aspect-ratio: 1; position: absolute; right: calc(var(--listSpacing) * -1); top: 50%; transform: translate(-50%, -50%); background: url('../images/icon-arrow.png') no-repeat center / cover;}
.progressBox li strong{font-size: 24px; line-height: 29px; margin-bottom: 20px;}
.progressBox li p{font-size: 20px; font-weight: 300; line-height: 27px; color: var(--colorFont2);}
.businessPage .majorPage .progressBox li::before{background-image: url('../images/icon-business.png');}
.businessPage .majorPage .progressBox li{counter-increment: progress;}
.businessPage .majorPage .progressBox li strong::before{content: 'STEP 0' counter(progress); position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%); font-size: 18px; color: white; padding: 8px 17px; background-color: var(--colorPoint2); border-radius: 23px;}
.businessPage .majorPage .facilityArea div p{display: block; font-size: 24px; line-height: 29px; color: var(--colorFont2); margin-bottom: 30px;}
.businessPage .majorPage .facilityArea div ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.businessPage .majorPage .facilityArea div ul:not(:last-of-type){margin-bottom: 60px;}
.businessPage .majorPage .facilityArea div ul li{width: calc((100% - 30px) / 2); border: 1px solid var(--colorLine); line-height: 0;}
.businessPage .majorPage .facilityArea div ul li:nth-last-child(n + 3){margin-bottom: 30px;}
.businessPage .majorPage .facilityArea div ul li img{width: 100%;}
/* 산업 안내 */
.businessPage .partnerPage > div ul{display: flex; flex-wrap: wrap;}
.businessPage .partnerPage > div ul li{width: calc((100% - 60px) / 3);}
.businessPage .partnerPage > div ul li:not(:nth-child(3n)){margin-right: 30px;}
.businessPage .partnerPage > div ul li:nth-child(n + 4){margin-top: 80px;}
.businessPage .partnerPage > div ul li::before{content: ''; display: block; width: 100%; aspect-ratio: 420 / 260; background: url('../images/img-partners.png') no-repeat left top calc(20% * var(--styleIdx)) / 100%; border: 1px solid var(--colorLine); margin-bottom: 30px;}
.businessPage .partnerPage > div ul li p{display: flex; flex-wrap: wrap; justify-content: center; font-size: 24px; font-weight: 300; line-height: 38.5px; padding-inline: 40px;}
.businessPage .partnerPage > div ul li p b{font-weight: 700;}